/* line 4, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 12, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 16, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 42, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
  blockquote:before, q:before,
  blockquote:after, q:after {
    content: ""; }

/* line 18, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 20, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 22, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_reset.sass */
a img {
  border: none; }

/* line 1, ../../../app/stylesheets/partials/_flash_error.sass */
#flash_notice,
#flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

/* line 6, ../../../app/stylesheets/partials/_flash_error.sass */
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

/* line 10, ../../../app/stylesheets/partials/_flash_error.sass */
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66; }

/* line 14, ../../../app/stylesheets/partials/_flash_error.sass */
.fieldWithErrors {
  display: inline; }

/* line 17, ../../../app/stylesheets/partials/_flash_error.sass */
#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  /* line 24, ../../../app/stylesheets/partials/_flash_error.sass */
  #errorExplanation h2 {
    text-align: left;
    padding: 5px 5px 5px 15px;
    margin: 0;
    font-weight: bold;
    font-size: 12px;
    background-color: #c00;
    color: #fff; }
  /* line 33, ../../../app/stylesheets/partials/_flash_error.sass */
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  /* line 37, ../../../app/stylesheets/partials/_flash_error.sass */
  #errorExplanation ul {
    margin: 2px 24px; }
    /* line 39, ../../../app/stylesheets/partials/_flash_error.sass */
    #errorExplanation ul li {
      font-size: 12px;
      list-style: disc; }

/* line 22, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
body {
  line-height: 1.5;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 75%; }

/* line 53, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h1 {
  font-weight: normal;
  color: #222222;
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em; }
  /* line 58, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  h1 img {
    margin: 0; }

/* line 60, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 {
  font-weight: normal;
  color: #222222;
  font-size: 2em;
  margin-bottom: 0.75em; }

/* line 64, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h3 {
  font-weight: normal;
  color: #222222;
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em; }

/* line 69, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h4 {
  font-weight: normal;
  color: #222222;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

/* line 74, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h5 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em; }

/* line 79, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h6 {
  font-weight: normal;
  color: #222222;
  font-size: 1em;
  font-weight: bold; }

/* line 83, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0; }

/* line 85, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
p {
  margin: 0 0 1.5em; }
  /* line 87, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  /* line 91, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  p img.right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

/* line 95, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
a {
  text-decoration: underline;
  color: #000099; }
  /* line 12, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:visited {
    color: #000066; }
  /* line 15, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:focus {
    color: black; }
  /* line 18, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:hover {
    color: black; }
  /* line 21, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/links/_link_colors.sass */
  a:active {
    color: #cc0099; }

/* line 98, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
blockquote {
  margin: 1.5em;
  color: #666;
  font-style: italic; }

/* line 102, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
strong {
  font-weight: bold; }

/* line 104, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
em {
  font-style: italic; }

/* line 106, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dfn {
  font-style: italic;
  font-weight: bold; }

/* line 109, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
sup, sub {
  line-height: 0; }

/* line 111, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #666; }

/* line 113, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
address {
  margin: 0 0 1.5em;
  font-style: italic; }

/* line 116, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
del {
  color: #666; }

/* line 118, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre {
  margin: 1.5em 0;
  white-space: pre; }

/* line 121, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
pre, code, tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5; }

/* line 123, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
li ul, li ol {
  margin: 0 1.5em; }

/* line 125, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ul {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: disc; }

/* line 128, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
ol {
  margin: 0 1.5em 1.5em 1.5em;
  list-style-type: decimal; }

/* line 131, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dl {
  margin: 0 0 1.5em 0; }
  /* line 133, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
  dl dt {
    font-weight: bold; }

/* line 135, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
dd {
  margin-left: 1.5em; }

/* line 137, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
table {
  margin-bottom: 1.4em;
  width: 100%; }

/* line 140, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th {
  font-weight: bold; }

/* line 142, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
thead th {
  background: #c3d9ff; }

/* line 144, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
th, td, caption {
  padding: 4px 10px 4px 5px; }

/* line 146, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tr.even td {
  background: #e5ecf9; }

/* line 148, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
tfoot {
  font-style: italic; }

/* line 150, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
caption {
  background: #eee; }

/* line 152, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.quiet {
  color: #666666; }

/* line 154, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_typography.sass */
.loud {
  color: #111111; }


/* line 36, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #E5ECF9; }

/* line 39, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee; }

/* line 42, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
div.colborder {
  padding-right: 24px;
  margin-right: 25px;
  border-right: 1px solid #eeeeee; }

/* line 44, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none; }

/* line 46, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_scaffolding.sass */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: .1em;
  margin: 0 0 1.45em;
  border: none;
  background: #fff;
  color: #fff; }

/* line 9, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
.clear {
  clear: both; }

/* line 12, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
.nowrap {
  white-space: nowrap; }

/* line 16, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
.clearfix {
  overflow: hidden;
  display: inline-block; }
  /* line 5, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
  .clearfix {
    display: block; }

/* line 18, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
.small {
  font-size: .8em;
  margin-bottom: 1.875em;
  line-height: 1.875em; }

/* line 22, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em; }

/* line 26, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
.first {
  margin-left: 0;
  padding-left: 0; }

/* line 29, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
.last {
  margin-right: 0;
  padding-right: 0; }

/* line 32, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
.top {
  margin-top: 0;
  padding-top: 0; }

/* line 35, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_utilities.sass */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

/* line 7, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_debug.sass */
.showgrid {
  background: url('/images/grid.png?1264369278'); }

/* line 5, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.error {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4; }
  /* line 30, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  .error a {
    color: #8a1f11; }

/* line 7, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.notice {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324; }
  /* line 38, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  .notice a {
    color: #514721; }

/* line 9, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.success {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880; }
  /* line 46, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
  .success a {
    color: #264409; }

/* line 11, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.hide {
  display: none; }

/* line 13, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.highlight {
  background: yellow; }

/* line 15, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.added {
  background: #006600;
  color: white; }

/* line 17, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_interaction.sass */
.removed {
  background: #990000;
  color: white; }

/* line 23, ../../../app/stylesheets/screen.sass */
body {
  background-color: #4B7399; }
  /* line 531, ../../../app/stylesheets/partials/_formtastic_base.sass */
  body form.formtastic fieldset {
    width: 100%; }
  /* line 534, ../../../app/stylesheets/partials/_formtastic_base.sass */
  body form.formtastic ol li label {
    float: left;
    width: 16%;
    padding-left: 4%;
    text-align: left; }
  /* line 548, ../../../app/stylesheets/partials/_formtastic_base.sass */
  body form.formtastic ol li fieldset legend {
    width: 16%;
    padding-left: 4%; }
    /* line 565, ../../../app/stylesheets/partials/_formtastic_base.sass */
    body form.formtastic ol li fieldset legend span.label {
      position: absolute;
      width: 16%; }
  /* line 568, ../../../app/stylesheets/partials/_formtastic_base.sass */
  body form.formtastic ol li fieldset ol {
    padding: 0 10% 0 20%; }
  /* line 577, ../../../app/stylesheets/partials/_formtastic_base.sass */
  body form.formtastic ol li p.inline-hints, body form.formtastic ol li p.inline-errors, body form.formtastic ol li ul.errors {
    margin: 0 0 0 20%; }
  /* line 580, ../../../app/stylesheets/partials/_formtastic_base.sass */
  body form.formtastic ol li.string input, body form.formtastic ol li.password input, body form.formtastic ol li.numeric input, body form.formtastic ol li.text textarea, body form.formtastic ol li select {
    width: 70%; }
  /* line 582, ../../../app/stylesheets/partials/_formtastic_base.sass */
  body form.formtastic ol li.boolean label {
    padding-left: 20%; }
  /* line 585, ../../../app/stylesheets/partials/_formtastic_base.sass */
  body form.formtastic fieldset.buttons {
    padding-left: 20%;
    width: 70%; }
    /* line 593, ../../../app/stylesheets/partials/_formtastic_base.sass */
    body form.formtastic fieldset.buttons ol li {
      display: inline;
      width: auto;
      float: left; }
  /* line 8, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
  body form.formtastic li {
    list-style-type: none;
    margin-left: 0px; }
  /* line 28, ../../../app/stylesheets/screen.sass */
  body #container {
    width: 950px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    background-color: #FFF; }
    /* line 5, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
    body #container {
      display: block; }
    /* line 33, ../../../app/stylesheets/screen.sass */
    body #container #header, body #container #footer {
      display: inline;
      float: left;
      margin-right: 10px;
      width: 950px; }
      /* line 101, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
      * html body #container #header, * html body #container #footer {
        overflow-x: hidden; }
    /* line 36, ../../../app/stylesheets/screen.sass */
    body #container #header {
      position: relative; }
      /* line 38, ../../../app/stylesheets/screen.sass */
      body #container #header h1 {
        margin-top: 18px; }
      /* line 40, ../../../app/stylesheets/screen.sass */
      body #container #header #user_nav {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        overflow: hidden;
        display: inline-block;
        position: absolute;
        top: 1em;
        right: 0px; }
        /* line 5, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
        body #container #header #user_nav {
          display: block; }
        /* line 50, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        body #container #header #user_nav li {
          list-style-type: none;
          margin-left: 0px;
          white-space: nowrap;
          display: inline;
          float: left;
          padding-left: 4px;
          padding-right: 4px; }
          /* line 40, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
          body #container #header #user_nav li.first {
            padding-left: 0px; }
          /* line 42, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
          body #container #header #user_nav li.last {
            padding-right: 0px; }
    /* line 45, ../../../app/stylesheets/screen.sass */
    body #container input#user_openid_identifier,
    body #container input#user_session_openid_identifier {
      background: url(http://openid.net/images/login-bg.gif) no-repeat;
      background-color: #fff;
      background-position: 0 50%;
      color: #000;
      padding-left: 18px; }
    /* line 52, ../../../app/stylesheets/screen.sass */
    body #container #content {
      display: inline;
      float: left;
      margin-right: 10px;
      width: 950px; }
      /* line 101, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
      * html body #container #content {
        overflow-x: hidden; }
      /* line 54, ../../../app/stylesheets/screen.sass */
      body #container #content .creator {
        font-style: italic;
        color: #333; }
      /* line 57, ../../../app/stylesheets/screen.sass */
      body #container #content .tags {
        color: #666; }
      /* line 59, ../../../app/stylesheets/screen.sass */
      body #container #content .controls {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        overflow: hidden;
        display: inline-block; }
        /* line 5, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
        body #container #content .controls {
          display: block; }
        /* line 50, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
        body #container #content .controls li {
          list-style-type: none;
          margin-left: 0px;
          white-space: nowrap;
          display: inline;
          float: left;
          padding-left: 4px;
          padding-right: 4px; }
          /* line 40, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
          body #container #content .controls li.first {
            padding-left: 0px; }
          /* line 42, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
          body #container #content .controls li.last {
            padding-right: 0px; }
      /* line 61, ../../../app/stylesheets/screen.sass */
      body #container #content .date {
        font-size: 0.7em; }
      /* line 65, ../../../app/stylesheets/screen.sass */
      body #container #content #index #schedules h2 {
        font-size: 16px;
        margin-bottom: 2px; }
      /* line 69, ../../../app/stylesheets/screen.sass */
      body #container #content #index #paginate {
        display: inline;
        float: left;
        margin-right: 0;
        width: 630px; }
        /* line 101, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body #container #content #index #paginate {
          overflow-x: hidden; }
      /* line 71, ../../../app/stylesheets/screen.sass */
      body #container #content #index #search {
        display: inline;
        float: left;
        margin-right: 10px;
        width: 470px; }
        /* line 101, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body #container #content #index #search {
          overflow-x: hidden; }
      /* line 73, ../../../app/stylesheets/screen.sass */
      body #container #content #index #tag_cloud {
        display: inline;
        float: left;
        margin-right: 0;
        width: 310px;
        float: right;
        font-size: 1em;
        line-height: 1.2em; }
        /* line 101, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body #container #content #index #tag_cloud {
          overflow-x: hidden; }
        /* line 5, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
        body #container #content #index #tag_cloud .xxs, body #container #content #index #tag_cloud .xs, body #container #content #index #tag_cloud .s, body #container #content #index #tag_cloud .l, body #container #content #index #tag_cloud .xl, body #container #content #index #tag_cloud .xxl {
          line-height: 1.2em; }
        /* line 7, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
        body #container #content #index #tag_cloud .xxs {
          font-size: 0.5em; }
        /* line 9, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
        body #container #content #index #tag_cloud .xs {
          font-size: 0.667em; }
        /* line 11, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
        body #container #content #index #tag_cloud .s {
          font-size: 0.75em; }
        /* line 13, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
        body #container #content #index #tag_cloud .l {
          font-size: 1.333em; }
        /* line 15, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
        body #container #content #index #tag_cloud .xl {
          font-size: 1.5em; }
        /* line 17, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_tag_cloud.sass */
        body #container #content #index #tag_cloud .xxl {
          font-size: 2em; }
      /* line 8, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.sass */
      body #container #content #show #schedule ul li {
        list-style-type: none;
        margin-left: 0px; }
      /* line 82, ../../../app/stylesheets/screen.sass */
      body #container #content #show #schedule li .scheduling_item {
        margin-left: 25px; }
      /* line 85, ../../../app/stylesheets/screen.sass */
      body #container #content #show #comments_area {
        display: inline;
        float: left;
        margin-right: 10px;
        width: 470px;
        font-size: 12px;
        padding: 0 20px; }
        /* line 86, ../../../app/stylesheets/screen.sass */
        body #container #content #show #comments_area h2 {
          margin-bottom: 12px; }
        /* line 101, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body #container #content #show #comments_area {
          overflow-x: hidden; }
        /* line 92, ../../../app/stylesheets/screen.sass */
        body #container #content #show #comments_area .comment {
          border-bottom: solid 1px #999;
          margin: 15px 0; }
      /* line 95, ../../../app/stylesheets/screen.sass */
      body #container #content #collections {
        display: inline;
        float: left;
        margin-right: 0;
        width: 750px;
        padding-left: 5%; }
        /* line 101, ../../../vendor/gems/compass-0.8.17/frameworks/blueprint/stylesheets/blueprint/modules/_grid.sass */
        * html body #container #content #collections {
          overflow-x: hidden; }
        /* line 98, ../../../app/stylesheets/screen.sass */
        body #container #content #collections #collection.fields {
          border-bottom: solid 1px #999;
          margin: 5px; }
        /* line 101, ../../../app/stylesheets/screen.sass */
        body #container #content #collections #children_fields {
          margin-left: 25px; }
          /* line 102, ../../../app/stylesheets/screen.sass */
          body #container #content #collections #children_fields .fields {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            overflow: hidden;
            display: inline-block; }
            /* line 5, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/general/_hacks.sass */
            body #container #content #collections #children_fields .fields {
              display: block; }
            /* line 50, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
            body #container #content #collections #children_fields .fields li {
              list-style-type: none;
              margin-left: 0px;
              white-space: nowrap;
              display: inline;
              float: left;
              padding-left: 4px;
              padding-right: 4px; }
              /* line 40, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
              body #container #content #collections #children_fields .fields li.first {
                padding-left: 0px; }
              /* line 42, ../../../vendor/gems/compass-0.8.17/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal_list.sass */
              body #container #content #collections #children_fields .fields li.last {
                padding-right: 0px; }
