- semantic_form_for @schedule do |f|
  = f.inputs :title, :body, :tag_list
  - f.semantic_fields_for :collections do |builder|
    = render "collection_fields", :f => builder
  %p= link_to_add_fields "Add Collection", f, :collections
  = f.buttons

