.fields
  = f.input :wdh, :as => :numeric, :input_html => { :size => 5 }
  -# ToDo AutoComplete feld anstelle der Dropbox
  = f.input :item, :label_method => 'description'
  = f.input :content, :input_html => { :size => 30 }
  = remove_child_link "remove", f