<% title "Schedules" %>

<% for schedule in @schedules do %>
	<% div_for schedule do%>
		<h2><%=link_to_unless_current h(schedule.title),schedule%></h2>
		<%=simple_format h(schedule.body) %>
	<% end %>
<% end %>

<p><%= link_to "New Schedule", new_schedule_path %></p>



