// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
@import partials/flash_error.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass
@import compass/utilities.sass

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography
+blueprint-scaffolding
+blueprint-utilities
+blueprint-debug
+blueprint-interaction

// Page layout can be done using mixins applied to your semantic classes and IDs:
body
  :background-color #4B7399
  form.formtastic
    +formtastic(100%, 20%, 70%, 4%, "left")
    +no-bullets
  #container
    +container
    :padding 10px
    :background-color #FFF

    #header, #footer
      +column(!blueprint_grid_columns)

    #header
      :position relative
      h1
        :margin-top 18px
      #user_nav
        +horizontal-list
        :position absolute
        :top 1em
        :right 0px
    input#user_openid_identifier,
    input#user_session_openid_identifier
      :background url(http://openid.net/images/login-bg.gif) no-repeat
      :background-color #fff
      :background-position 0 50%
      :color #000
      :padding-left 18px
    #content
      +column(!blueprint_grid_columns)
      .creator
        :font-style italic
        :color #333
      .tags
        :color #666
      .controls
        +horizontal-list
      .date
        :font-size 0.7em
      #index
        #schedules
          h2
            :font-size 16px
            :margin-bottom 2px
          //.content
        #paginate
          +column(16,true)
        #search
          +column(12)
        #tag_cloud
          +column(8, true)
          :float right
          +tag-cloud(1em)
      #show
        #schedule
          ul
            +no-bullets
          li
            .scheduling_item
              :margin-left 25px

        #comments_area
          h2
            :margin-bottom 12px
          +column(12)
          :font-size 12px
          :padding 0 20px
          //:border solid 1px #999
          .comment
            :border-bottom solid 1px #999
            :margin 15px 0
      #collections
        +column(19,true)
        :padding-left 5%
        #collection.fields
          :border-bottom solid 1px #999
          :margin 5px
        #children_fields
          .fields
            +horizontal-list
          :margin-left 25px

