<% title "Login" %>

<% semantic_form_for @user_session do |f| %>
  <% f.inputs do %>
    <%= f.input :username %>
    <%= f.input :password %>
    <h2> Or use OpenID </h2>
    <%= f.input :openid_identifier, :label => "OpenID URL", :required => false %>
  <% end %>
  <%= f.buttons %>
<% end %>

